swagger: "2.0"

info:
  描述: "Faucet API 文檔和資源管理器.\n\nSend 來自配置的水龍頭帳戶的硬幣 `config.yml` 到收款人賬戶."
  version: "1.0.0"
  title: "水龍頭 {{ .ChainID }}"

servers:
  - url: / 

paths:
  /:
    post:
      summary: "將令牌發送到接收者帳戶"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "發送硬幣請求對象\n\nAfter 製作樣品由執行 '試試看' 右上角的按鈕, 訪問以下鏈接以查看示例帳戶的差異平衡: {{ .APIAddress }}/bank/balances/bnkt1uzv4v9g9xln2qx2vtqhz99yxum33calja5vruz"
        required: true
        schema:
          $ref: "#/definitions/SendRequest"
      responses:
        "400":
          description: "錯誤的請求"
        "500":
          description: "內部錯誤"
        "200":
          description: "所有硬幣都已成功發送\n\nAfter 執行示例, 訪問以下鏈接以查看示例帳戶餘額的差異: {{ .APIAddress }}/bank/balances/bnkt1uzv4v9g9xln2qx2vtqhz99yxum33calja5vruz"
          schema:
            $ref: "#/definitions/SendResponse"

definitions:
  SendRequest:
    type: "object"
    required:
      - address
    properties:
      address:
        type: "string"
        default: "bnkt1uzv4v9g9xln2qx2vtqhz99yxum33calja5vruz"
      coins:
        type: "array"
        default:
          - 10token
        items:
          type: "string"
  
  SendResponse:
    type: "object"
    properties:
      error:
        type: "string"


externalDocs:
  description: "了解有關熊網鏈更多信息"
  url: "https://github.com/ignite-hq/cli/tree/develop/docs"
